

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  padding: 0;
  text-align:center;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  margin: 0 0 5px 0;
}

h2 {
  font-size: 2em;
  margin: 0 0 5px 0;
}

h3 {
  margin: 0 0 0px 0;
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.resumeContainer{
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  width: 300px;
  border: 10px solid;
  border-color: #44d4a2;
  border-radius: 35px;
  text-overflow: ellipsis;
}

.coverLetterButtonWrapper{
  margin:auto;
  width:auto;
}

.button{
  border: 2px solid;
  border-color: #44d4a2;
  margin:0 2px 0 2px;
}

.unactivated{
  display:inline-block;
  background-color: #44d4a2;
}

.activated{
  display:inline-block;
  background-color: #fff;
}

.coverLetterTextWrapper{

}

.coverLetterText{

}